
    <div >
        <h1 class="text-lg font-bold">About</h1>
        <p class="text-xs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, assumenda! Cumque natus ab laudantium vitae quam at aliquid eligendi expedita nulla deleniti, eos autem libero consectetur est aspernatur obcaecati enim!</p>
        <p class="text-xs">Numero de clientes <app-counter [duration]="duration()" [message]="message()" *ngIf="duration() > 0"/> </p>
        <div>
            <app-wave-audio audioUrl="assets/audio.mp3"/>
        </div>
    </div>
